<footer>
  <div class="top">
    <div class="social">
      <h3>Social</h3>

      <a href="https://github.com/gdgzh/gdgzh-website">
        <i class="fa fa-4x fa-github-square"></i>
        <span class="sr-only">GDG Zürich on GitHub</span>
      </a>
      <a href="https://twitter.com/GDGZH">
        <i class="fa fa-4x fa-twitter-square"></i>
        <span class="sr-only">GDG Zürich on Twitter</span>
      </a>
      <a href="https://www.facebook.com/GDGZH">
        <i class="fa fa-4x fa-facebook-square"></i>
        <span class="sr-only">GDG Zürich on Facebook</span>
      </a>
      <a href="https://plus.google.com/+GDGZHCH">
        <i class="fa fa-4x fa-google-plus-square"></i>
        <span class="sr-only">GDG Zürich on Google+</span>
      </a>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="bottom">
    <div class="open-source">
      We
      <i class="fa fa-heart"></i>
      <a href="https://github.com/gdgzh/gdgzh-website">Open Source</a>
      <!-- &ndash; -->
    </div>
    <div class="gdgzh">
      Google Developers Group Zürich
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
