@import 'src/gw-theme';
$nav-height: 67px;

main {
  min-height: 500px;

  background: mat-color($gw-app-primary);

  @media screen {
    margin-top: $nav-height;
    padding: 20px 25px 30px 25px;
  }
}
